:root {
	/* media */
	--sm: 600px;
	--md: 1024px;
	--lg: 1440px;

	/* spacer */
	--xnarrow: .25rem;
  --narrow: .5rem;
  --default: 1rem;
  --medium: 1.5rem;
  --wide: 2rem;
  --xwide: 2.5rem;
  --xxwide: 3rem;

	/* font-size */
	--coefficient: calc((100vw - 768px) / (1024 - 768));
	--font-xlarge: 3;
	--font-large: 2.6;
	--font-middle: 1.5;
	--font-default: 1;
	--font-small: .8;
	--font-xsmall: .5;
	--font-size-xl: calc(var(--font-default)rem + (var(--font-xlarge) - var(--font-default)) * var(--coefficient));
	--font-size-l: calc(var(--font-middle)rem + (var(--font-large) - var(--font-middle)) * var(--coefficient));
	--font-size-m: calc(var(--font-default)rem + (1.2 - var(--font-default)) * var(--coefficient));

	/* line-height */
	--lh-l: 2;
	--lh-m: 1.75;
	--lh-s: 1.4;

	/* color */
	--primary: #FFA000;
	--base-white: #fff;
	--glay-light: #F7F8FA;
}